Repository Fusion-0-1/lambda-learn, pull requests merged in 2023-05, with the labels that each got.

#244 Academic settings start new semester - Admin
  .gitignore
  controllers/AdminSettingsController.php
  core/DbConnection.php
  model/Course.php
  model/CourseAnnouncement.php
  model/CourseSubTopic.php
  model/Submission.php
  views/admin_settings.php
Labels: Priority: High, Type: Implementation, Backend: PHP

#243 restrict coordinator from creating courses and assign users to courses
  controllers/CourseController.php
  database/insert-data.sql
  database/lambda-learn.sql
  model/Course.php
  model/User/Lecturer.php
  views/assign_users_to_courses.php
  views/course/course_creation.php
Labels: Priority: Medium, Type: Implementation, Backend: PHP

#249 Render Student Attendance graph on Reports page - Coordinator
  controllers/SummaryViewController.php
  core/CSVFile.php
  views/attendance_course_progress.php
Labels: Priority: High, Type: Implementation, Backend: PHP

#250 academic settings - reset course
  controllers/CourseController.php
  model/Course.php
  model/CourseSubTopic.php
  model/Submission.php
  model/User/Student.php
  public/css/course/course_page.css
  public/css/main.css
  public/index.php
  views/admin_settings.php
  views/course/course_initialization.php
  views/course/course_page.php
Labels: Priority: High, Type: Implementation, Backend: PHP

#253 Bug: Create submission submission - Lecturer
  controllers/CourseController.php
  model/Submission.php
  views/submissions.php
Labels: Priority: High, Type: Bug, Backend: PHP

#259 Adding assignments to kanban board automation
  controllers/KanbanboardController.php
  model/Submission.php
  public/css/kanbanboard.css
  public/js/kanbanboard.js
  views/kanbanboard.php
Labels: Priority: High, Type: Implementation, Backend: PHP

#258 BUG: Mac Air warnings
  controllers/CourseController.php
  model/CourseSubTopic.php
  views/marks_upload.php
Labels: Type: Bug

#261 Fetch latest assignments in course page
  controllers/CourseController.php
  views/course/course_page.php
Labels: Priority: High, Type: Implementation, Backend: PHP

#257 upload submission marks
  controllers/CourseController.php
  core/CSVFile.php
  model/Course.php
  public/index.php
  views/course/course_creation.php
  views/marks_upload.php
  views/submission_marks_upload.php
  views/submissions.php
Labels: Priority: High, Backend: PHP

#263 Students submission upload continue student
  controllers/CourseController.php
  database/lambda-learn.sql
  model/Submission.php
  public/css/submission_popup.css
  public/css/submissions.css
  public/index.php
  views/submissions.php
Labels: Priority: High, Type: Implementation, Backend: PHP
